<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.otatech.android.nanomoviesapp.movies" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup=1
        android:icon="@mipmap/app_icon"
        android:label="@string/s_lbl_app"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/s_lbl_app" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/s_lbl_title"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.otatech.android.nanomoviesapp.movies.MainActivity" />
        </activity>
        <provider
            android:authorities="@string/s_con_auth"
            android:name=".utilities.DbProvider"
            android:exported="false" />
    </application>

</manifest>
